.elementor-5154 .elementor-element.elementor-element-62a9df8:not(.elementor-motion-effects-element-type-background),
.elementor-5154 .elementor-element.elementor-element-62a9df8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2023/05/i-parallax-11.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-5154 .elementor-element.elementor-element-62a9df8>.elementor-background-overlay {
	background-color: transparent;
	background-image: linear-gradient(180deg, #000000 50%, #00000000 100%);
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5154 .elementor-element.elementor-element-62a9df8 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 80px 0px 120px 0px;
}

.elementor-5154 .elementor-element.elementor-element-2f60498>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-5154 .elementor-element.elementor-element-5311c43 {
	text-align: center;
}

.elementor-5154 .elementor-element.elementor-element-5311c43 .elementor-heading-title {
	color: #FFFFFF;
}

.elementor-5154 .elementor-element.elementor-element-e0880e7 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--background-transition: 0.3s;
}

.elementor-5154 .elementor-element.elementor-element-25126aa4>.elementor-background-overlay {
	opacity: 0.12;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5154 .elementor-element.elementor-element-25126aa4 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 120px 0px 120px 0px;
}

.elementor-5154 .elementor-element.elementor-element-b280f9>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 15px 0px 15px;
}

.elementor-5154 .elementor-element.elementor-element-4a789c79 .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-5154 .elementor-element.elementor-element-4a789c79 {
	--icon-box-icon-margin: 25px;
}

.elementor-5154 .elementor-element.elementor-element-4a789c79 .elementor-icon-box-title {
	margin-bottom: 5px;
}

.elementor-5154 .elementor-element.elementor-element-4a789c79.elementor-view-stacked .elementor-icon {
	background-color: #f3f8f6;
	fill: #5ca13e;
	color: #5ca13e;
}

.elementor-5154 .elementor-element.elementor-element-4a789c79.elementor-view-framed .elementor-icon,
.elementor-5154 .elementor-element.elementor-element-4a789c79.elementor-view-default .elementor-icon {
	fill: #f3f8f6;
	color: #f3f8f6;
	border-color: #f3f8f6;
}

.elementor-5154 .elementor-element.elementor-element-4a789c79.elementor-view-framed .elementor-icon {
	background-color: #5ca13e;
}

.elementor-5154 .elementor-element.elementor-element-4a789c79 .elementor-icon {
	font-size: 30px;
	padding: 15px;
}

.elementor-5154 .elementor-element.elementor-element-0cfd8cc .elementor-heading-title {
	color: #000000;
}

.elementor-5154 .elementor-element.elementor-element-0cfd8cc>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-5154 .elementor-element.elementor-element-d60e889>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 15px 0px 15px;
}

.elementor-5154 .elementor-element.elementor-element-279f0f3c .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-5154 .elementor-element.elementor-element-279f0f3c {
	--icon-box-icon-margin: 25px;
}

.elementor-5154 .elementor-element.elementor-element-279f0f3c .elementor-icon-box-title {
	margin-bottom: 5px;
}

.elementor-5154 .elementor-element.elementor-element-279f0f3c.elementor-view-stacked .elementor-icon {
	background-color: #5ca13e;
}

.elementor-5154 .elementor-element.elementor-element-279f0f3c.elementor-view-framed .elementor-icon,
.elementor-5154 .elementor-element.elementor-element-279f0f3c.elementor-view-default .elementor-icon {
	fill: #5ca13e;
	color: #5ca13e;
	border-color: #5ca13e;
}

.elementor-5154 .elementor-element.elementor-element-279f0f3c.elementor-view-framed .elementor-icon:hover {
	background-color: #FFFFFF;
}

.elementor-5154 .elementor-element.elementor-element-279f0f3c.elementor-view-stacked .elementor-icon:hover {
	fill: #FFFFFF;
	color: #FFFFFF;
}

.elementor-5154 .elementor-element.elementor-element-279f0f3c .elementor-icon {
	font-size: 30px;
	padding: 15px;
}

.elementor-5154 .elementor-element.elementor-element-54e37cbe .elementor-heading-title {
	color: #000000;
}

.elementor-5154 .elementor-element.elementor-element-54e37cbe>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-5154 .elementor-element.elementor-element-5689a987 .elementor-heading-title {
	line-height: 1.8em;
}

.elementor-5154 .elementor-element.elementor-element-2d0c759d>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 15px 0px 15px;
}

.elementor-5154 .elementor-element.elementor-element-7b6ae623 .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-5154 .elementor-element.elementor-element-7b6ae623 {
	--icon-box-icon-margin: 25px;
}

.elementor-5154 .elementor-element.elementor-element-7b6ae623 .elementor-icon-box-title {
	margin-bottom: 5px;
}

.elementor-5154 .elementor-element.elementor-element-7b6ae623.elementor-view-stacked .elementor-icon {
	background-color: #5ca13e;
}

.load-more-btn {
	background-color: #5ca13e;
}

.elementor-5154 .elementor-element.elementor-element-7b6ae623.elementor-view-framed .elementor-icon,
.elementor-5154 .elementor-element.elementor-element-7b6ae623.elementor-view-default .elementor-icon {
	fill: #1c211e;
	color: #1c211e;
	border-color: #1c211e;
}

.elementor-5154 .elementor-element.elementor-element-7b6ae623.elementor-view-framed .elementor-icon:hover {
	background-color: #FFFFFF;
}

.elementor-5154 .elementor-element.elementor-element-7b6ae623.elementor-view-stacked .elementor-icon:hover {
	fill: #FFFFFF;
	color: #FFFFFF;
}

.elementor-5154 .elementor-element.elementor-element-7b6ae623 .elementor-icon {
	font-size: 30px;
	padding: 15px;
}

.elementor-5154 .elementor-element.elementor-element-32654551 .elementor-heading-title {
	color: #000000;
}

.elementor-5154 .elementor-element.elementor-element-32654551>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-5154 .elementor-element.elementor-element-67c4d563 .elementor-heading-title {
	line-height: 1.8em;
}

.elementor-5154 .elementor-element.elementor-element-54592da3>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-5154 .elementor-element.elementor-element-54592da3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
	z-index: 9;
}

.elementor-5154 .elementor-element.elementor-element-77ca6279:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-5154 .elementor-element.elementor-element-77ca6279>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #f3f8f6;
}

.elementor-5154 .elementor-element.elementor-element-77ca6279>.elementor-element-populated>.elementor-background-overlay {
	opacity: 0.05;
}

.elementor-5154 .elementor-element.elementor-element-77ca6279>.elementor-element-populated>.elementor-background-overlay {
	mix-blend-mode: multiply;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5154 .elementor-element.elementor-element-77ca6279>.elementor-element-populated,
.elementor-5154 .elementor-element.elementor-element-77ca6279>.elementor-element-populated>.elementor-background-overlay,
.elementor-5154 .elementor-element.elementor-element-77ca6279>.elementor-background-slideshow {
	border-radius: 15px 15px 15px 15px;
}

.elementor-5154 .elementor-element.elementor-element-77ca6279>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 70px 70px 70px 70px;
}

.elementor-5154 .elementor-element.elementor-element-7b70fff3 {
	text-align: center;
}

.elementor-5154 .elementor-element.elementor-element-7c51d73c {
	text-align: center;
}

.elementor-5154 .elementor-element.elementor-element-53474f0e {
	text-align: center;
}

.elementor-5154 .elementor-element.elementor-element-53474f0e .elementor-heading-title {
	line-height: 1.8em;
}

.elementor-5154 .elementor-element.elementor-element-53474f0e>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 300px 0px 300px;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="text"],
.nd_elements_cf7_component input[type="email"],
.nd_elements_cf7_component input[type="url"],
.nd_elements_cf7_component input[type="tel"],
.nd_elements_cf7_component input[type="number"],
.nd_elements_cf7_component input[type="date"],
.nd_elements_cf7_component input[type="file"],
.nd_elements_cf7_component input[type="password"],
.nd_elements_cf7_component select,
.nd_elements_cf7_component textarea {
	font-family: "Poppins", Sans-serif;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="text"] {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="email"] {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="url"] {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="tel"] {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="number"] {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="date"] {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="file"] {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="password"] {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component select {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component textarea {
	width: 100%;
	background-color: #FFFFFF00;
	border-width: 1px 1px 1px 1px;
	border-color: #D8D8D8;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="submit"] {
	font-family: "Poppins", Sans-serif;
	width: 100%;
	border-width: 0px 0px 0px 0px;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="submit"]:hover {
	color: #FFFFFF;
	background-color: #1c211e;
}

.elementor-5154 .elementor-element.elementor-element-24efa5c8>.elementor-widget-container {
	margin: 30px 0px 0px 0px;
	padding: 0px 200px 0px 200px;
}

.elementor-5154 .elementor-element.elementor-element-b0b2600 {
	margin-top: -200px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-5154 .elementor-element.elementor-element-186792bb>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-5154 .elementor-element.elementor-element-45271204 iframe {
	height: 600px;
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

@media(max-width:1199px) {
	.elementor-5154 .elementor-element.elementor-element-d60e889>.elementor-element-populated {
		padding: 30px 15px 30px 15px;
	}

	.elementor-5154 .elementor-element.elementor-element-77ca6279>.elementor-element-populated {
		padding: 70px 15px 70px 15px;
	}

	.elementor-5154 .elementor-element.elementor-element-53474f0e>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="text"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="email"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="url"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="tel"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="number"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="date"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="file"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="password"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component select {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component textarea {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="submit"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-5154 .elementor-element.elementor-element-b0b2600 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media(max-width:767px) {
	.elementor-5154 .elementor-element.elementor-element-5311c43 .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-5154 .elementor-element.elementor-element-4a789c79 .elementor-icon-box-wrapper {
		text-align: center;
	}

	.elementor-5154 .elementor-element.elementor-element-0cfd8cc {
		text-align: center;
	}

	.elementor-5154 .elementor-element.elementor-element-d60e889>.elementor-element-populated {
		padding: 50px 15px 50px 15px;
	}

	.elementor-5154 .elementor-element.elementor-element-279f0f3c .elementor-icon-box-wrapper {
		text-align: center;
	}

	.elementor-5154 .elementor-element.elementor-element-54e37cbe {
		text-align: center;
	}

	.elementor-5154 .elementor-element.elementor-element-5689a987 {
		text-align: center;
	}

	.elementor-5154 .elementor-element.elementor-element-7b6ae623 .elementor-icon-box-wrapper {
		text-align: center;
	}

	.elementor-5154 .elementor-element.elementor-element-32654551 {
		text-align: center;
	}

	.elementor-5154 .elementor-element.elementor-element-67c4d563 {
		text-align: center;
	}

	.elementor-5154 .elementor-element.elementor-element-7c51d73c .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="text"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="email"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="url"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="tel"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="number"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="date"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="file"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="password"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component select {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component textarea {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-24efa5c8 .nd_elements_cf7_component input[type="submit"] {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-45271204 iframe {
		height: 300px;
	}
}

@media(max-width:1199px) and (min-width:768px) {
	.elementor-5154 .elementor-element.elementor-element-b280f9 {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-d60e889 {
		width: 100%;
	}

	.elementor-5154 .elementor-element.elementor-element-2d0c759d {
		width: 100%;
	}
}

@media(min-width:1551px) {

	.elementor-5154 .elementor-element.elementor-element-62a9df8:not(.elementor-motion-effects-element-type-background),
	.elementor-5154 .elementor-element.elementor-element-62a9df8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}
}