* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: 'Begum Sans Regular';
    src: url("../fonts/BegumSans-Regular.woff") format("woff"), url("../fonts/BegumSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Begum Sans Medium';
    src: url("../fonts/BegumSans-Medium.woff") format("woff"), url("../fonts/BegumSans-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: "Begum Sans Regular";
    color: #000000
}

/* img {
    max-width: 100%
} */
img {
    width: 100%;
}

p span {
    font-family: "Begum Sans Medium"
}

.heading-1 {
    text-align: center
}

.heading-1 h2 {
    font-size: 28px;
    line-height: 36px;
    color: #000000;
    font-family: "Begum Sans Medium"
}

.heading-1 span {
    font-size: 16px;
    line-height: 36px;
    color: #A37B7B
}

.heading-1 i {
    background-color: #A37B7B;
    width: 8px;
    height: 8px;
    display: block;
    margin: 15px auto 13px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg)
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    z-index: 111;
    background-color: rgba(255, 255, 255, 0.9);
    display: none
}

header a {
    font-size: 16px;
    line-height: 36px;
    color: #5F3333;
    font-family: "Begum Sans Medium"
}

header a:hover {
    text-decoration: none;
    color: #5F3333
}

.home-main .section-1 {
    height: 100vh;
    overflow: hidden
}

.row-2 {
    display: flex;
    /* width: 90%; */

    /* margin-right: 32px; */
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: 83%;
    /* margin-left: 10%; */
}


.button-1 {
    justify-content: center;
}


.icons {
    width: 57%;
}

.col {
    padding: 15px 5px 0 55px;
    width: 40%;
    margin-left: 20px;
}

.home-main .section-1 .img-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28%;
    z-index: 111;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%)
}

.home-main .section-2 {
    background-color: #E3D8D2;
    padding: 100px 0
}

.home-main .section-2 img {
    margin: 40px auto;
    display: table;
    width: 25%;
}

.home-main .section-2 p {
    max-width: 650px;
    margin: 0 auto;
    display: table
}

.home-main .section-2 p span {
    font-family: "Begum Sans Medium"
}

.home-main .section-3 {
    padding: 50px 0 20px
}

.home-main .section-3 hr {
    border-color: #AD1C29;
    margin: 60px 0 0 105px;
}

.home-main .section-3 .row-1 p {
    max-width: 650px;
    margin: 40px auto 70px;
    display: table
}

.home-main .section-3 .row-1 p span {
    font-family: "Begum Sans Medium"
}

.home-main .section-3 .icon-blk {
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.home-main .section-3 .icon-blk img {
    width: 100px
}

.home-main .section-3 .row-2 h4 {
    font-size: 16px;
    line-height: 36px;
    color: #AD1C29;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
    font-family: "Begum Sans Medium"
}

.home-main .section-3 .row-2 p {
    font-size: 14px;
    line-height: 20px;
    color: #5F3333;
    text-align: center;
    font-family: "Begum Sans Medium"
}

.home-main .section-4 {
    padding: 50px 0
}

p {
    justify-content: center;
}

.home-main .section-4 .owl-nav {
    display: none
}

footer .f-3 .button-1:hover,
footer .f-4 .button-1:hover {
    text-decoration: none;
    background-color: #5F3333;
    color: #ffffff;
}

/* .items,
.map-blk {
    margin: 4px 37px -3px 20px;
} */

.col-md-4 {
    margin: 40px 14px 0 21px;
}

.col-sm-4 {
    margin: 40px 19px 0 20px;
}

.home-main .section-4 .col-md-4:nth-child(4) .d-b {
    min-height: 365px
}

.home-main .section-4 .col-md-4:nth-child(5) .d-b {
    min-height: 365px
}

.home-main .section-4 h3 {
    font-size: 22px;
    line-height: 25px;
    color: #AD1C29;
    margin-bottom: 4px;
    margin-top: 10px
}

.home-main .section-4 h4 {
    font-size: 18px;
    line-height: 25px;
    color: #5F3333
}

.home-main .section-4 p {
    font-size: 16px;
    line-height: 23px;
    color: #000000
}

.home-main .section-4 p span {
    font-family: "Begum Sans Medium"
}

.home-main .section-4 .d-b {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 25px 0;
    margin: 15px 0;
    min-height: 257px
}

.home-main .section-4 .d-b p:last-child {
    margin-bottom: 0
}

.home-main .section-4 h5 {
    font-size: 16px;
    line-height: 25px;
    color: #5F3333;
    margin: 0;
    font-family: "Begum Sans Medium"
}

.home-main .section-4 .map-blk {
    height: 284px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block
}

.home-main .section-4 .map-blk iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.home-main .section-4 .map-detail {
    background-color: #EBEBEB;
    text-align: center;
    padding-top: 23px
}

.home-main .section-4 .map-detail p {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 23px;
    color: #5F3333
}

.home-main .section-4 .map-detail h4 {
    color: #AD1C29;
    font-size: 16px;
    line-height: 23px;
    margin: 0
}

.home-main .section-4 .map-detail a {
    font-size: 14px;
    line-height: 36px;
    color: #5F3333;
    border: 1px solid #5F3333;
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    margin: 30px 0;
    font-family: "Begum Sans Medium";
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out
}

.home-main .section-4 .map-detail a:hover {
    text-decoration: none;
    background-color: #5F3333;
    color: #ffffff
}

.home-main .section-5 {
    height: 100vh;
    overflow: hidden
}

.home-main .section-6 {
    background-color: #E6EADB;
    padding: 100px 0
}

.home-main .section-6 hr {
    margin: 40px 0 0;
    border-color: #777
}

.home-main .section-6 .row-1 p {
    max-width: 650px;
    margin: 40px auto 100px
}

.home-main .section-6 .row-1 p span {
    font-family: "Begum Sans Medium"
}

.home-main .section-6 .row-2 h5 {
    font-size: 16px;
    line-height: 36px;
    color: #AD1C29;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: "Begum Sans Medium"
}

.home-main .section-6 .row-2 h3 {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    font-family: "Begum Sans Medium"
}

.home-main .section-6 .row-2 p {
    font-size: 16px;
    line-height: 23px;
    color: #000000
}

.home-main .section-7 {
    background-color: #E6EADB;
    padding-bottom: 100px
}

.home-main .section-7 .row-1 p {
    font-size: 22px;
    line-height: 32px;
    color: #000000;
    margin: 30px 0 80px
}

.home-main .section-7 .row-2 .icon-blk {
    height: 80px;
    display: flex;
    align-items: flex-end
}

.home-main .section-7 .row-2 h4 {
    font-size: 16px;
    line-height: 36px;
    color: #AD1C29;
    font-family: "Begum Sans Medium";
    margin: 10px 0
}

.home-main .section-7 .row-2 p {
    font-size: 14px;
    line-height: 20px;
    color: #000000
}

.home-main .section-8 {
    background-color: #80252D;
    padding: 70px 0 50px
}

.home-main .section-8 .heading-1 i {
    background-color: #E6EADB
}

.home-main .section-8 h2 {
    color: #E3D8D2
}

.home-main .section-8 span {
    color: #E3D8D2
}

.home-main .section-8 p {
    max-width: 650px;
    font-size: 15px;
    line-height: 25px;
    color: #E3D8D2;
    margin: 0 auto
}

a {
    text-decoration: none;
}

footer .f-1 p {
    font-size: 13px;
    line-height: 24px;
    color: #8D8D8D;
    position: absolute;
    bottom: 8px;
    left: 15px;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before{
    box-sizing: border-box;
}


.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}



/* .modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
} */

/* @media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
} */

/* #contactModal .modal-content {
    background-color: #F2E3DB;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
} */

.home-main .section-8 h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    color: #E3D8D2;
    margin: 30px 0
}

.home-main .section-8 .button-1 {
    font-size: 14px;
    line-height: 36px;
    color: #E3D8D2;
    border: 1px solid #E3D8D2;
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    margin: 30px 0;
    font-family: "Begum Sans Medium";
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out
}

.home-main .section-8 .button-1:hover {
    text-decoration: none;
    background-color: #E3D8D2;
    color: #80252D
}

.home-main .section-9 {
    background-color: #F2E3DB;
    padding: 100px 0
}

.home-main .section-9 .owl-prev {
    position: absolute;
    top: 50%;
    left: -35px
}

.home-main .section-9 .owl-next {
    position: absolute;
    top: 50%;
    right: -35px
}

.home-main .section-9 .owl-nav button:hover,
.home-main .section-9 .owl-nav button:active,
.home-main .section-9 .owl-nav button:focus {
    outline: none
}

.home-main .section-9 .s-9-blk {
    max-width: 300px;
    text-align: center;
}

.home-main .section-9 .s-6 {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.home-main .section-9 .s-6 p {
    margin-top: 40px
}

#contactModal {
    text-align: center
}

#contactModal .modal-content {
    background-color: #F2E3DB
}

#contactModal h2 {
    margin-top: 20px;
    font-family: "Begum Sans Medium"
}

#contactModal .close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 11111
}

#contactModal .form-blk {
    margin-top: 30px
}

#contactModal .form-blk input {
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
    text-indent: 5px;
    border-radius: 5px;
    border: 1px solid #80252D;
    background-color: #F2E3DB
}

#contactModal .form-blk input:hover,
#contactModal .form-blk input:focus,
#contactModal .form-blk input:active {
    outline: none
}

#contactModal .form-blk textarea {
    width: 100%;
    margin-bottom: 20px;
    text-indent: 5px;
    border-radius: 5px;
    border: 1px solid #80252D;
    background-color: #F2E3DB;
    min-height: 150px
}

#contactModal .form-blk textarea:hover,
#contactModal .form-blk textarea:focus,
#contactModal .form-blk textarea:active {
    outline: none
}

#contactModal .form-blk input[type=submit] {
    font-size: 14px;
    line-height: 36px;
    color: #80252D;
    border: 1px solid #80252D;
    background-color: #F2E3DB;
    cursor: pointer;
    width: 150px;
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    font-family: "Begum Sans Medium";
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    opacity: 1
}

#contactModal .form-blk input[type=submit]:hover {
    text-decoration: none;
    background-color: #80252D;
    color: #ffffff
}

footer {
    padding: 50px 0
}

footer .f-1 img {
    width: 150px
}

footer .f-1 p {
    font-size: 13px;
    line-height: 24px;
    color: #8D8D8D;
    position: absolute;
    bottom: 8px;
    left: 15px
}

footer .f-2 ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    display: table
}

footer .f-2 ul li {
    float: left;
    margin: 0 5px
}

footer .f-3 p,
footer .f-4 p {
    font-size: 15px;
    line-height: 24px;
    color: #000000
}

footer .f-3 .button-1,
footer .f-4 .button-1 {
    font-size: 14px;
    line-height: 36px;
    color: #5F3333;
    border: 1px solid #5F3333;
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    margin: 30px 0;
    font-family: "Begum Sans Medium";
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out
}

footer .f-3 .button-1:hover,
footer .f-4 .button-1:hover {
    text-decoration: none;
    background-color: #5F3333;
    color: #ffffff
}

@media only screen and (min-width: 1300px) {
    .container {
        max-width: 1240px
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1340px
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header .row>div:nth-child(2) {
        width: 50%
    }

    header .row>div:nth-child(3) {
        width: 50%
    }

    .home-main .section-1 {
        height: auto
    }

    .home-main .section-1 .img-logo {
        display: none !important
    }

    .home-main .section-2 {
        padding: 50px 0
    }

    .home-main .section-3 .row-1 p {
        margin-bottom: 20px
    }

    .home-main .section-3 .col-md-2 {
        width: 50%
    }

    .home-main .section-5 {
        height: auto
    }

    .home-main .section-6 {
        padding: 50px 0
    }

    .home-main .section-6 .s-6-blk {
        margin-bottom: 50px
    }

    .home-main .section-6 .row-1 p {
        margin-bottom: 50px
    }

    .home-main .section-6 .row-2>div:last-child .s-6-blk {
        margin-bottom: 0
    }

    .home-main .section-7 {
        padding-bottom: 0
    }

    .home-main .section-8 {
        padding: 50px 0 30px
    }

    .home-main .section-9 {
        padding: 70px 0 50px
    }

    .home-main .section-9 .owl-nav .owl-next {
        right: 15px
    }

    .home-main .section-9 .owl-nav .owl-prev {
        left: 15px
    }

    .home-main .section-9 .s-6 {
        margin-top: 30px
    }

    .home-main .section-9 .s-9-blk {
        margin: 0 auto
    }

    .home-main footer .row {
        position: relative
    }

    .home-main footer .f-1 {
        position: static;
        margin-bottom: 30px
    }

    .home-main footer .f-1 p {
        bottom: -50px
    }

    .home-main footer .f-2 {
        margin-bottom: 30px
    }

    .home-main footer .f-3 a,
    .home-main footer .f-4 a {
        margin-top: 0;
        font-size: 13px
    }
}

@media only screen and (max-width: 767px) {
    header .row>div:nth-child(2) {
        width: 50%
    }

    header .row>div:nth-child(3) {
        width: 50%
    }

    .home-main .section-1 {
        height: auto
    }

    .home-main .section-1>div {
        padding: 204.78% 0 0 0 !important
    }

    .home-main .section-1>div iframe {
        width: 215% !important;
        left: -50% !important
    }

    .home-main .section-2 {
        padding: 50px 0
    }

    .home-main .section-3 .row-1 p {
        margin-bottom: 20px
    }

    .home-main .section-3 .col-md-2 {
        width: 50%
    }

    .home-main .section-5 {
        height: auto
    }

    .home-main .section-5>div {
        padding: 204.78% 0 0 0 !important
    }

    .home-main .section-5>div iframe {
        width: 215% !important;
        left: -50% !important
    }

    .home-main .section-6 {
        padding: 50px 0
    }

    .home-main .section-6 .s-6-blk {
        margin-bottom: 50px
    }

    .home-main .section-6 .row-1 p {
        margin-bottom: 50px
    }

    .home-main .section-6 .row-2>div:last-child .s-6-blk {
        margin-bottom: 0
    }

    .home-main .section-7 {
        padding-bottom: 0
    }

    .home-main .section-7 .row-2 {
        display: block;
        overflow: hidden
    }

    .home-main .section-7 .row-2 .col {
        width: 100%;
        float: left;
        margin-bottom: 30px;
        text-align: center;
        padding: 0 30px
    }

    .home-main .section-7 .row-2 .col .icon-blk {
        justify-content: center
    }

    .home-main .section-8 {
        padding: 50px 0 30px
    }

    .home-main .section-9 {
        padding: 70px 0 50px
    }

    .home-main .section-9 .owl-nav .owl-next {
        right: 15px
    }

    .home-main .section-9 .owl-nav .owl-prev {
        left: 15px
    }

    .home-main .section-9 .s-6 {
        margin-top: 30px
    }

    .home-main .section-9 .s-9-blk {
        margin: 0 auto
    }

    .home-main footer {
        text-align: center
    }

    .home-main footer .row {
        position: relative
    }

    .home-main footer .f-1 {
        position: static;
        margin-bottom: 30px
    }

    .home-main footer .f-1 p {
        bottom: -50px;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        width: 300px
    }

    .home-main footer .f-2 {
        margin-bottom: 30px
    }

    .home-main footer .f-2 ul {
        margin: 0 auto
    }

    .home-main footer .f-3 a,
    .home-main footer .f-4 a {
        margin-top: 0
    }
}

.box {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 17px;
    align-items: center;
}

.box a {
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(254, 126, 126, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: white;
    width: 400px;
    padding: 1em 2em;
    border-radius: 4px;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

/* button:hover */
/* .box {
            background-color: black;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
       
        .box a {
            display: inline-block;
            background-color: #fff;
            padding: 15px;
            border-radius: 3px;
        }
        .modal {
            align-items: center;
            display: flex;
            justify-content: center; 
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(254, 126, 126, 0.7);
            transition: all 0.4s;
            visibility: hidden;
            opacity: 0;
        }
        .content {
            position: absolute;
            background: white;
            width: 400px;
            padding: 1em 2em;
            border-radius: 4px;
        } 
        .modal:target {
            visibility: visible;
            opacity: 1;
        }
        .box-close {
            position: absolute;
            top: 0;
            right: 15px;
            color: #fe0606;
            text-decoration: none;
            font-size: 30px;
        } */